<section class="advantages">
  <div class="advantages-wrapper">
    <p class="advantages-accent-text">Переваги</p>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
          <img class="advantages-img" src="" alt="" width="" />
        </picture>
        <h3 class="advantages-subtitle">Стійкість та екологічність</h3>
        <p class="advantages-points">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>

      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /src/img/advantages-img/threads-desk.webp   1x,
              /src/img/advantages-img/threads-desk2x.webp 2x
            "
            media=""
          />
          <source
            srcset="
              /src/img/advantages-img/threads-tab.webp   1x,
              /src/img/advantages-img/threads-tab2x.webp 2x
            "
            media=""
          />
          <source
            srcset="
              /src/img/advantages-img/threads-mob.webp   1x,
              /src/img/advantages-img/threads-mob2x.webp 2x
            "
            media=""
          />
          <img
            class="advantages-img"
            src="/src/img/advantages-img/threads.webp"
            alt="мотки бавовняних ниток"
            width=""
          />
        </picture>
        <h3 class="advantages-subtitle">Міцність і довговічність</h3>
        <p class="advantages-points">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
          <img class="advantages-img" src="" alt="" width="" />
        </picture>
        <h3 class="advantages-subtitle">Стильний та сучасний дизайн</h3>
        <p class="advantages-points">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
