<section class="advantages">
  <div class="advantages-wrapper container">
    <p class="advantages-accent-text">Переваги</p>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages-img/threads-desk.webp   1x,
              /img/advantages-img/threads-desk2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/advantages-img/threads-tab.webp   1x,
              /img/advantages-img/threads-tab2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/advantages-img/threads-mob.webp   1x,
              /img/advantages-img/threads-mob2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/threads.webp"
            alt="мотки бавовняних ниток на столі"
            width="422"
          />
        </picture>
        <h3 class="advantages-subtitle">Стійкість та екологічність</h3>
        <p class="advantages-points">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>

      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages-img/sewing-desk.webp   1x,
              /img/advantages-img/sewing-desk2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/advantages-img/sewing-tab.webp   1x,
              /img/advantages-img/sewing-tab2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/advantages-img/sewing-mob.webp   1x,
              /img/advantages-img/sewing-mob2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/sewing.webp"
            alt="людина шиє на швейній машині"
            width="422"
          />
        </picture>
        <h3 class="advantages-subtitle">Міцність і довговічність</h3>
        <p class="advantages-points">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages-img/stylish-design-desk.webp   1x,
              /img/advantages-img/stylish-design-desk2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/advantages-img/stylish-design-tab.webp   1x,
              /img/advantages-img/stylish-design-tab2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/advantages-img/stylish-design-mob.webp   1x,
              /img/advantages-img/stylish-design-mob2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="advantages-img"
            src="/img/advantages-img/stylish-design-desk.webp"
            alt="три сумки стоїть на столі"
            width="422"
          />
        </picture>

        <h3 class="advantages-subtitle">Стильний та сучасний дизайн</h3>
        <p class="advantages-points">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
