<section class="advantages" id="advantages">
  <div class="advantages-wrapper container">
    <p class="advantages-accent-text">Переваги</p>
    <h2 class="advantages-title title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages/threads-desk.webp   1x,
              /img/advantages/threads-desk2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/advantages/threads-tab.webp   1x,
              /img/advantages/threads-tab2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/advantages/threads-mob.webp   1x,
              /img/advantages/threads-mob2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="advantages-img"
            src="/img/advantages/threads-desk.webp"
            alt="мотки бавовняних ниток на столі"
            width="421"
          />
        </picture>
        <div class="advantages-points-wrapper">
          <h3 class="advantages-subtitle">Стійкість та екологічність</h3>
          <p class="advantages-points">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>

      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages/sewing-desk.webp   1x,
              /img/advantages/sewing-desk2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/advantages/sewing-tab.webp   1x,
              /img/advantages/sewing-tab2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/advantages/sewing-mob.webp   1x,
              /img/advantages/sewing-mob2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="advantages-img"
            src="/img/advantages/sewing-desk.webp"
            alt="людина шиє на швейній машині"
            width="421"
          />
        </picture>

        <div class="advantages-points-wrapper">
          <h3 class="advantages-subtitle">Міцність і довговічність</h3>
          <p class="advantages-points">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages/stylish-design-desk.webp   1x,
              /img/advantages/stylish-design-desk2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/advantages/stylish-design-tab.webp   1x,
              /img/advantages/stylish-design-tab2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/advantages/stylish-design-mob.webp   1x,
              /img/advantages/stylish-design-mob2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="advantages-img"
            src="/img/advantages/stylish-design-tab.webp"
            alt="три сумки стоїть на столі"
            width="704"
          />
        </picture>

        <div class="advantages-points-wrapper">
          <h3 class="advantages-subtitle">Стильний та сучасний дизайн</h3>
          <p class="advantages-points">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
