<section class="feedbacks container">
  <h2 class="title feedbacks-title">Що говорять наші клієнти</h2>
  <ul class="feedbacks-list">
    <li class="feedbacks-item">
      <div class="stars">
        <span class="star">
          <svg class="" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
      </div>
      <p class="feedbacks-text">
        Сумка дуже зручна та стильна, використовую щодня!
      </p>
      <div class="feedbacks-author">Анна</div>
    </li>
    <li class="feedbacks-item">
      <div class="stars">
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star black">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
      </div>
      <p class="feedbacks-text">
        Відмінна якість матеріалів, приємно здивована.
      </p>
      <div class="feedbacks-author">Ігор</div>
    </li>
    <li class="feedbacks-item">
      <div class="stars">
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star black">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
      </div>
      <p class="feedbacks-text">Сумка повністю відповідає опису, рекомендую!</p>
      <div class="feedbacks-author">Олена</div>
    </li>
    <li class="feedbacks-item">
      <div class="stars">
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <span class="star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </span>
      </div>
      <p class="feedbacks-text">Швидка доставка та гарне обслуговування.</p>
      <div class="feedbacks-author">Сергій</div>
    </li>
  </ul>
</section>
