<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title title">Галерея зображень</h2>
    <p class="gallery-subtitle">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-list-item bag">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-desktop-image-bag.webp    1x,
              /img/gallery/gallery-desktop-image-bag@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-tablet-image-bag.webp    1x,
              /img/gallery/gallery-tablet-image-bag@2x.webp 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-mob-image-bag.webp    1x,
              /img/gallery/gallery-mob-image-bag@2x.webp 2x
            "
          />

          <img
            src="/img/gallery/gallery-desktop-image-bag.webp"
            alt="Сумка EcoTote"
            width="421"
            height="421"
          />
        </picture>
      </li>
      <li class="gallery-list-item man">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-desktop-image-man.webp    1x,
              /img/gallery/gallery-desktop-image-man@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-tablet-image-man.webp    1x,
              /img/gallery/gallery-tablet-image-man@2x.webp 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-mob-image-man.webp    1x,
              /img/gallery/gallery-mob-image-man@2x.webp 2x
            "
          />

          <img
            src="/img/gallery/gallery-desktop-image-man.webp"
            alt="Чоловік в місті з сумкою EcoTote"
            width="421"
            height="865"
          />
        </picture>
      </li>

      <li class="gallery-list-item park">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-desktop-image-park.webp    1x,
              /img/gallery/gallery-desktop-image-park@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-tablet-image-park.webp    1x,
              /img/gallery/gallery-tablet-image-park@2x.webp 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-mob-image-park.webp    1x,
              /img/gallery/gallery-mob-image-park@2x.webp 2x
            "
          />

          <img
            src="/img/gallery/gallery-desktop-image-park.webp"
            alt="Чоловік в парку з сумкою EcoTote"
            width="421"
            height="865"
          />
        </picture>
      </li>
      <li class="gallery-list-item girl">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-desktop-image-girl.webp    1x,
              /img/gallery/gallery-desktop-image-girl@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-tablet-image-girl.webp    1x,
              /img/gallery/gallery-tablet-image-girl@2x.webp 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-mob-image-girl.webp    1x,
              /img/gallery/gallery-mob-image-girl@2x.webp 2x
            "
          />

          <img
            src="/img/gallery/gallery-desktop-image-girl.webp"
            alt="Дівчина з сумкою EcoTote"
            width="421"
            height="421"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
