<header class="header">
  <div class="container">
    <nav class="center_nav">
      <a class="header_logo" href="/src/index.html" target="_blank">
        <svg class="" width="84" height="36">
          <use href="/img/logo.svg"></use></svg
      ></a>
      <button data-menu-open class="button-menu" type="button">
        <svg class="" width="32" height="32">
          <use href="/img/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <ul class="header_nav">
        <li class="header_nav_item">
          <a class="nav_item_link" href="" target="_blank">Про нас</a>
        </li>
        <li class="header_nav_item">
          <a class="nav_item_link" href="" target="_blank">Переваги</a>
        </li>
        <li class="header_nav_item">
          <a class="nav_item_link curent" href="" target="_blank">Асортимент</a>
        </li>
        <li class="header_nav_item">
          <a class="nav_item_link" href="" target="_blank">Галерея</a>
        </li>
        <li class="header_nav_item">
          <a class="nav_item_link" href="" target="_blank">Відгуки</a>
        </li>
        <li class="header_nav_item">
          <a class="nav_item_link" href="" target="_blank">Контакти</a>
        </li>
      </ul>
      <address class="address">
        <ul class="header_address">
          <li class="header_address_item">
            <a class="address_item_link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
          <li class="header_address_item">
            <a class="address_item_link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
        </ul>
      </address>
    </nav>
  </div>
  <!---------- mobal menu -->
  <div class="mobal-menu-backdrop" data-menu>
    <div class="wrap-mobal-menu">
      <div class="mobal-logo">
        <a class="header_logo" href="/src/index.html" target="_blank">
          <svg class="" width="84" height="36">
            <use href="/img/logo.svg"></use></svg
        ></a>
        <button data-menu-close class="button-menu" type="button">
          <svg class="" width="32" height="32">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    
      <ul class="mobal_nav">
        <li class="mobal_nav_item">
          <a class="nav_item_link" href="" target="_blank">Про нас</a>
        </li>
        <li class="mobal_nav_item">
          <a class="nav_item_link" href="" target="_blank">Переваги</a>
        </li>
        <li class="mobal_nav_item">
          <a class="nav_item_link curent" href="" target="_blank">Асортимент</a>
        </li>
        <li class="mobal_nav_item">
          <a class="nav_item_link" href="" target="_blank">Галерея</a>
        </li>
        <li class="mobal_nav_item">
          <a class="nav_item_link" href="" target="_blank">Відгуки</a>
        </li>
        <li class="mobal_nav_item">
          <a class="nav_item_link" href="" target="_blank">Контакти</a>
        </li>
      </ul>
      <address class="mobal-address">
        <ul class="mobal-nav-address">
          <li class="mobal_address_item">
            <a class="address_item_link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
          <li class="mobal_address_item">
            <a class="address_item_link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
