<header class="header">
  <div class="container wrap-header">
    <nav class="center-nav">
      <a class="header-logo" href="/index.html">
        <svg class="" width="82" height="31">
          <use href="/img/logo.svg"></use>
        </svg>
      </a>
      <ul class="header-nav">
        <li class="header-nav-item">
          <a class="nav-item-link" href="#about">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a class="nav-item-link" href="#advantages">Переваги</a>
        </li>
        <li class="header-nav-item">
          <a class="nav-item-link" href="#assortment">Асортимент</a>
        </li>
        <li class="header-nav-item">
          <a class="nav-item-link" href="#gallery">Галерея</a>
        </li>
        <li class="header-nav-item">
          <a class="nav-item-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a class="nav-item-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>
    <button data-menu-open class="button-menu" type="button">
      <svg class="" width="22" height="16">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <address class="address">
      <ul class="header-address">
        <li class="header-address-item">
          <a class="address-item-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a>
        </li>
        <li class="header-address-item">
          <a class="address-item-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a>
        </li>
      </ul>
    </address>
  </div>
  <!---------- mobal menu -->
  <div class="mobal-menu-backdrop" data-menu>
    <div class="wrap-mobal-menu">
      <div class="container wrap-menu">
        <nav class="mobal-nav">
          <a class="header-logo" href="/index.html">
            <svg class="" width="82" height="31">
              <use href="/img/logo.svg"></use>
            </svg>
          </a>
          <ul class="mobal-nav-list">
            <li class="mobal-nav-item">
              <a class="nav-item-link" href="#about">Про нас</a>
            </li>
            <li class="mobal-nav-item">
              <a class="nav-item-link" href="#advantages">Переваги</a>
            </li>
            <li class="mobal-nav-item">
              <a class="nav-item-link curent" href="#assortment">Асортимент</a>
            </li>
            <li class="mobal-nav-item">
              <a class="nav-item-link" href="#gallery">Галерея</a>
            </li>
            <li class="mobal-nav-item">
              <a class="nav-item-link" href="#feedbacks">Відгуки</a>
            </li>
            <li class="mobal-nav-item">
              <a class="nav-item-link" href="#support">Контакти</a>
            </li>
          </ul>
        </nav>
        <button data-menu-close class="button-menu button-close" type="button">
          <svg class="" width="16" height="16">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <address class="mobal-address">
          <ul class="mobile-adress-list">
            <li class="mobal-address-item">
              <a class="address-item-link" href="mailto:hello@ecotote.com"
                >hello@ecotote.com</a>
            </li>
            <li class="mobal-address-item">
              <a class="address-item-link" href="tel:+380999091122"
                >+38 (099) 909 11 22</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</header>
