contacts {
    color: #030a06;
}

.contacts {
    /* padding: 32px 0; */
}

.content-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 24px;
}

.content-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 32px;
}

.content-form {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.content-form-item {

}

.content-form-item + .content-form-item {
    margin-top: 24px;
}

.form-title + .form-input {
    margin-top: 8px;
}

.form-input {
    width: 100%;
    border: 1px solid rgba(3, 10, 6, 0.15);
    border-radius: 6px;
    padding: 8px 12px;
    background: rgba(3, 10, 6, 0.05);
}

.form-comment {
    padding: 12px;
    resize: none;
    height: 214px;
}

.content-form-btn {
    line-height: 160%;
    color: #113916;
    height: 50px;
    margin-top: 24px;
    border: 1px solid #113916;
    border-radius: 6px;
    padding: 12px 106px;
    width: 288px;
    background: transparent;
    opacity: 0.6;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-form-btn:hover,
.content-form-btn:focus {
    color: #fff;
    background: #113916;
}

.form-input:hover,
.form-input:focus,
.form-input:active {
    border-color: #113916;
}
.contacts-img {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.form-input::placeholder {

}


@media (min-width: 768px) {
    .content-title {
        max-width: 468px;
    }
}

