.container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.feedbacks-title {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  margin-bottom: 32px;
}

.feedbacks-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stars-list {
  display: flex;
  gap: 4px;
  padding-top: 0;
  height: 19px;
}

.star {
  fill: #75d281;
}

.star.black {
  fill: #030a06;
}

.feedbacks-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin: 12px 0;
}

.feedbacks-author {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .feedbacks-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
  }

  .feedbacks-item {
    width: calc((100% - 24px) / 2);
  }

  .feedbacks-text {
    margin: 24px 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feedbacks-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 80px;
    width: 560px;
  }

  .feedbacks-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .feedbacks-last-text {
    margin-bottom: 52px;
  }
}
