.header {
  background-color: #75d281;
  margin: 0;
}
.wrap-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.center-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 20px;
}
.header-logo {
  min-width: 84px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 48px;
  height: 48px;
  padding: 8px 0;
  padding-right: 12px;
}
.header-nav,
.address {
  display: none;
}
/* -----------mobal menu -----------*/
.mobal-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 668px;
  background-color: #75d281;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobal-menu-backdrop.is-opens {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrap-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  position: absolute;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  right: 12px;
  top: 8px;
  padding: 0;
}
.mobal-nav {
  display: flex;
  flex-direction: column;
}
.mobal-nav-list {
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.nav-item-link,
.address-item-link {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-adress-list {
  padding-top: 32px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.address-item-link {
  font-style: normal;
}
.address-item-link:hover,
.address-item-link:focus,
.nav-item-link:hover,
.nav-item-link:focus {
  color: #113916;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .center-nav {
    padding-left: 32px;
  }
  .burger {
    padding-right: 16px;
  }
  .button-close {
    right: 16px;
  }
  .mobal-nav-list {
    padding: 32px;
    margin: 0;
  }
  .mobile-adress-list {
    padding: 32px;
  }
  .burger-icon {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .burger,
  .mobal-menu-backdrop {
    display: none;
  }
  .header-nav,
  .address {
    display: flex;
  }
  .center-nav {
    padding-left: 64px;
  }
  .header-logo {
    margin-right: 175px;
  }
  .header-nav {
    gap: 32px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .address {
    margin-left: auto;
  }
  .header-address {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 64px;
  }
}
