<!DOCTYPE html <!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <title>Footer Test</title>

  <!-- Подключаем CSS-файл -->
  <link rel="stylesheet" href="../css/footer.css">
  <!--подлючаем шрифт-->
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>


<footer>
  <div class="footer-container"> <!--общий див-->  
    <div class="high-footer"> <!--общий верх--> 
    <div class="logo-footer">
          <a href="../index.html">
          <img src="../img/logo.svg" alt="Логотип">
                    </a>
       
        </div>
       
        <div class="footer-items">
          <ul class="footer-item-list">
            <li class="footer-item">
             <a href="#about" class="footer-item-text">
              Про нас
             </a> 

            </li>
            <li class="footer-item">
             <a href="#advantages" class="footer-item-text">
              Переваги
             </a> 

            </li>
            <li class="footer-item">
             <a href="#assortment" class="footer-item-text">
              Асортимент
             </a> 

            </li>
            <li class="footer-item">
             <a href="#gallary" class="footer-item-text">
              Галерея
             </a> 

            </li>
             <li class="footer-item">
             <a href="#feedbacks" class="footer-item-text">
              Відгуки
             </a> 

            </li>
            <li class="footer-item">
             <a href="#contacts" class="footer-item-text">
              Контакти
             </a> 

            </li>
         
          </ul>
        </div>
                
<ul class="footer-media">
        
<li class="footer-media-item">
   <a href="https://www.instagram.com/" class="icon-footer-lin">
      <svg class="footer-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-instagram"></use>
      </svg>
  </a>
</li>

<li class="footer-media-item">
   <a href="https://www.linkedin.com/" class="icon-footer-lin">
      <svg class="footer-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-linkedin"></use>
      </svg>
  </a>
</li>
<li class="footer-media-item">
  <a href="https://www.youtube.com/" class="icon-footer-lin">
      <svg class="footer-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-youtube"></use>
      </svg>
  </a>
</li>
</ul>
      </div>
     
     
      <div class="footer-down"> <!--общий низ--> 
        <ul class="footer-contacts">
<li><a class="item-contacts"  href="tel:380999091122">+38 (099) 909 11 22</a></li>
<li><a class="item-contacts" href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
        </ul>
      <p class="copyright">© 2025 EcoTote. Всі права захищені.</p>  
      </div>
  </div>

</footer>

</body>
</html>

